	@font-face {
  font-family: 'yekan';
  	src: url('fonts/yekan.eot');
	src: url('fonts/yekan.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/yekan.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/yekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/yekan.ttf') format('truetype');
}

/*https://github.com/hassanahmadifars*/
	.st0{fill:none;stroke:#A8AEB8;stroke-width:2;stroke-miterlimit:10;}
	.st1{fill:#FFFFFF;}
	.st2{fill:#A8AEB8;}
	.st3{fill:url(#blob_2_);}
	.st4{fill:#2F587A;}
	.st5{opacity:0.05;fill:#FFFFFF;}
	
	.st6{fill:#FFFFFF;}
	.st7{font-family:'yekan';}
	.st8{font-size:14px;}
	.st9{fill:#A8AEB8;}
	
	.st10{fill:none;}
	.st11{font-size:18px;}
	.st12{fill:#2F587A;}
	.st13{font-family:'yekan';}
	.st14{fill:url(#SVGID33)}
/*https://snur.ir*/

	



	
